@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --warning: 36 100% 50%;
    --warning-foreground: 210 40% 98%;
    --success: 142 72% 45%;
    --success-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* color palette */
    --color-palette-black: #000000;
    --color-palette-white: #ffffff;
    --color-palette-blue-50: #f0f5fe;
    --color-palette-blue-100: #d9e7fc;
    --color-palette-blue-200: #b9d1f9;
    --color-palette-blue-300: #97baf4;
    --color-palette-blue-400: #749fef;
    --color-palette-blue-500: #3e6ee5;
    --color-palette-blue-600: #375dbd;
    --color-palette-blue-700: #304c96;
    --color-palette-blue-800: #2a3d73;
    --color-palette-blue-850: #2c375d;
    --color-palette-blue-900: #2c375d;
    --color-palette-blue-950: #2b3757;
    --color-palette-green-100: #b6e2b4;
    --color-palette-green-200: #92d490;
    --color-palette-green-300: #61c05e;
    --color-palette-green-400: #42b43e;
    --color-palette-green-50: #e7f6e7;
    --color-palette-green-500: #13a10e;
    --color-palette-green-600: #16a34a;
    --color-palette-green-700: #15803d;
    --color-palette-green-800: #166534;
    --color-palette-green-900: #0f4226;
    --color-palette-green-950: #052e16;
    --color-palette-neutral-100: #dadadb;
    --color-palette-neutral-200: #c1c2c3;
    --color-palette-neutral-25: #fafafa;
    --color-palette-neutral-300: #8f9193;
    --color-palette-neutral-400: #5e6062;
    --color-palette-neutral-50: #f0f0f1;
    --color-palette-neutral-500: #4a4c4f;
    --color-palette-neutral-600: #4a4a4a;
    --color-palette-neutral-700: #272a2f;
    --color-palette-neutral-800: #1c1e21;
    --color-palette-neutral-900: #070a0e;
    --color-palette-orange-100: #fff2e0;
    --color-palette-orange-200: #ffe3bd;
    --color-palette-orange-300: #ffd294;
    --color-palette-orange-400: #ffc16b;
    --color-palette-orange-50: #fff8eb;
    --color-palette-orange-500: #f59e0b;
    --color-palette-orange-600: #d98108;
    --color-palette-orange-700: #b66607;
    --color-palette-orange-800: #924f05;
    --color-palette-orange-900: #6e3903;
    --color-palette-orange-950: #4a2602;
    --color-palette-pink-100: #fce7f3;
    --color-palette-pink-200: #fbcfe8;
    --color-palette-pink-300: #f9a8d4;
    --color-palette-pink-400: #f472b6;
    --color-palette-pink-50: #fdf2f8;
    --color-palette-pink-500: #ec4899;
    --color-palette-pink-600: #db2777;
    --color-palette-pink-700: #be185d;
    --color-palette-pink-800: #9d174d;
    --color-palette-pink-900: #831843;
    --color-palette-pink-950: #4a1027;
    --color-palette-purple-100: #f3e8ff;
    --color-palette-purple-200: #e9d5ff;
    --color-palette-purple-300: #d8b4fe;
    --color-palette-purple-400: #c084fc;
    --color-palette-purple-50: #faf5ff;
    --color-palette-purple-500: #a855f7;
    --color-palette-purple-600: #9333ea;
    --color-palette-purple-700: #7e22ce;
    --color-palette-purple-800: #6b21a8;
    --color-palette-purple-900: #581c87;
    --color-palette-purple-950: #3b0d60;
    --color-palette-red-100: #fde5e5;
    --color-palette-red-200: #fbcbcb;
    --color-palette-red-300: #f89a9a;
    --color-palette-red-400: #da5d60;
    --color-palette-red-50: #fef2f2;
    --color-palette-red-500: #d13438;
    --color-palette-red-600: #c82b2b;
    --color-palette-red-700: #a22525;
    --color-palette-red-800: #7c1e1e;
    --color-palette-red-850: #521313;
    --color-palette-red-900: #561616;
    --color-palette-red-950: #3a0e0e;
    --color-palette-teal-100: #cff7eb;
    --color-palette-teal-200: #9ef0d7;
    --color-palette-teal-300: #6ee8c3;
    --color-palette-teal-400: #42e1b1;
    --color-palette-teal-50: #e9fbf6;
    --color-palette-teal-500: #20c997;
    --color-palette-teal-600: #1db487;
    --color-palette-teal-700: #1aa37a;
    --color-palette-teal-800: #158463;
    --color-palette-teal-900: #0f6148;
    --color-palette-yellow-100: #fef9c3;
    --color-palette-yellow-200: #fdf08a;
    --color-palette-yellow-300: #fce762;
    --color-palette-yellow-400: #fddd38;
    --color-palette-yellow-50: #fefde6;
    --color-palette-yellow-500: #facc15;
    --color-palette-yellow-600: #e3ab0e;
    --color-palette-yellow-700: #bf8b0a;
    --color-palette-yellow-800: #9c6f06;
    --color-palette-yellow-900: #7a5404;
    --color-palette-yellow-950: #4d3602;

    /* color variables */
    --stroke-neutral: var(--color-palette-neutral-100);
    --background-neutral-primary: var(--color-palette-white);
    --background-neutral-secondary: var(--color-palette-neutral-25);
    --background-neutral-quaternary: var(--color-palette-neutral-100);
    --background-neutral-tertiary: var(--color-palette-neutral-50);
    --background-base-enabled-default: var(--color-palette-blue-500);
    --background-base-hover-default: var(--color-palette-blue-700);
    --background-base-focus-default: var(--color-palette-blue-500);
    --background-base-active-default: var(--color-palette-blue-800);
    --background-base-disabled-default: var(--color-palette-blue-200);
    --background-neutral-enabled-default: var(--color-palette-neutral-200);
    --background-neutral-hover-default: var(--color-palette-neutral-300);
    --background-neutral-focus-default: var(--color-palette-neutral-200);
    --background-neutral-active-default: var(--color-palette-neutral-400);
    --background-neutral-disabled-default: var(--color-palette-neutral-100);
    --background-success-hover-default: var(--color-palette-green-700);
    --background-success-focus-default: var(--color-palette-green-500);
    --background-success-active-default: var(--color-palette-green-800);
    --background-success-disabled-default: var(--color-palette-green-200);
    --background-success-enabled-default: var(--color-palette-green-500);
    --background-warning-enabled-default: var(--color-palette-orange-500);
    --background-warning-hover-default: var(--color-palette-orange-700);
    --background-warning-focus-default: var(--color-palette-orange-500);
    --background-warning-active-default: var(--color-palette-orange-800);
    --background-warning-disabled-default: var(--color-palette-orange-300);
    --background-danger-enabled-default: var(--color-palette-red-500);
    --background-danger-hover-default: var(--color-palette-red-700);
    --background-danger-focus-default: var(--color-palette-red-500);
    --background-danger-active-default: var(--color-palette-red-800);
    --background-danger-disabled-default: var(--color-palette-red-200);
    --background-neutral-outline: var(--color-palette-white);
    --font-base-default: var(--color-palette-white);
    --background-base-hover-plain: var(--color-palette-blue-700);
    --background-base-active-plain: var(--color-palette-blue-800);
    --background-neutral-hover-plain: var(--color-palette-neutral-300);
    --background-neutral-active-plain: var(--color-palette-neutral-400);
    --background-success-hover-plain: var(--color-palette-green-700);
    --background-success-active-plain: var(--color-palette-green-800);
    --background-warning-hover-plain: var(--color-palette-orange-700);
    --background-warning-active-plain: var(--color-palette-orange-800);
    --background-danger-hover-plain: var(--color-palette-red-700);
    --background-danger-active-plain: var(--color-palette-red-800);
    --background-base-hover-outline: var(--color-palette-blue-700);
    --background-base-active-outline: var(--color-palette-blue-800);
    --background-neutral-hover-outline: var(--color-palette-neutral-300);
    --background-neutral-active-outline: var(--color-palette-neutral-400);
    --background-success-hover-outline: var(--color-palette-green-700);
    --background-success-active-outline: var(--color-palette-green-800);
    --background-warning-hover-outline: var(--color-palette-orange-700);
    --background-warning-active-outline: var(--color-palette-orange-800);
    --background-danger-hover-outline: var(--color-palette-red-700);
    --background-danger-active-outline: var(--color-palette-red-800);
    --font-neutral-enabled-default: var(--color-palette-neutral-700);
    --font-neutral-hover-default: var(--color-palette-white);
    --font-neutral-focus-default: var(--color-palette-neutral-700);
    --font-base-enabled-outline: var(--color-palette-blue-500);
    --font-base-hover-outline: var(--color-palette-white);
    --font-base-focus-outline: var(--color-palette-blue-500);
    --font-base-active-outline: var(--color-palette-white);
    --font-base-disabled-outline: var(--color-palette-blue-300);
    --border-base-enabled-outline: var(--color-palette-blue-500);
    --border-base-focus-outline: var(--color-palette-blue-500);
    --border-base-disabled-outline: var(--color-palette-blue-200);
    --border-neutral-enabled-outline: var(--color-palette-neutral-100);
    --border-neutral-focus-outline: var(--color-palette-neutral-100);
    --border-neutral-disabled-outline: var(--color-palette-neutral-100);
    --border-success-enabled-outline: var(--color-palette-green-500);
    --border-success-focus-outline: var(--color-palette-green-500);
    --border-warning-enabled-outline: var(--color-palette-orange-500);
    --border-warning-focus-outline: var(--color-palette-orange-500);
    --border-warning-disabled-outline: var(--color-palette-orange-200);
    --border-danger-enabled-outline: var(--color-palette-red-500);
    --border-danger-focus-outline: var(--color-palette-red-500);
    --border-danger-disabled-outline: var(--color-palette-red-200);
    --font-base-enabled-plain: var(--color-palette-blue-500);
    --font-base-default-3: var(--color-palette-blue-500);
    --font-base-hover-plain: var(--color-palette-white);
    --font-base-focus-plain: var(--color-palette-blue-500);
    --font-base-active-plain: var(--color-palette-white);
    --font-base-disabled-plain: var(--color-palette-blue-300);
    --font-neutral-active-default: var(--color-palette-white);
    --font-neutral-disabled-default: var(--color-palette-neutral-300);
    --font-neutral-active-outline: var(--color-palette-white);
    --font-neutral-focus-outline: var(--color-palette-neutral-700);
    --font-neutral-disabled-outline: var(--color-palette-neutral-300);
    --font-neutral-hover-outline: var(--color-palette-white);
    --font-neutral-enabled-outline: var(--color-palette-neutral-700);
    --font-neutral-disabled-plain: var(--color-palette-neutral-300);
    --font-neutral-active-plain: var(--color-palette-white);
    --font-neutral-hover-plain: var(--color-palette-white);
    --font-neutral-focus-plain: var(--color-palette-neutral-700);
    --font-neutral-enabled-plain: var(--color-palette-neutral-700);
    --font-success-disabled-outline: var(--color-palette-green-200);
    --font-success-active-outline: var(--color-palette-white);
    --font-success-focus-outline: var(--color-palette-green-500);
    --font-success-enabled-outline: var(--color-palette-green-500);
    --font-success-hover-outline: var(--color-palette-white);
    --font-success-default: var(--color-palette-white);
    --font-success-disabled-plain: var(--color-palette-green-300);
    --font-success-active-plain: var(--color-palette-white);
    --font-success-focus-plain: var(--color-palette-green-500);
    --font-success-hover-plain: var(--color-palette-white);
    --font-success-enabled-plain: var(--color-palette-green-500);
    --icon-white: var(--color-palette-white);
    --icon-base-enabled-outline: var(--color-palette-blue-500);
    --icon-base-hover-outline: var(--color-palette-white);
    --icon-base-focus-outline: var(--color-palette-blue-500);
    --icon-base-active-outline: var(--color-palette-white);
    --icon-base-disabled-outline: var(--color-palette-blue-300);
    --icon-base-enabled-plain: var(--color-palette-blue-500);
    --icon-base-hover-plain: var(--color-palette-white);
    --icon-base-focus-plain: var(--color-palette-blue-500);
    --icon-base-active-plain: var(--color-palette-white);
    --icon-base-disabled-plain: var(--color-palette-blue-300);
    --icon-neutral-primary: var(--color-palette-neutral-700);
    --icon-neutral-disabled-default: var(--color-palette-neutral-300);
    --icon-neutral-outline: var(--color-palette-neutral-700);
    --icon-neutral-disabled-outline: var(--color-palette-neutral-300);
    --icon-neutral-plain: var(--color-palette-neutral-700);
    --icon-neutral-disabled-plain: var(--color-palette-neutral-300);
    --icon-success-enabled-outline: var(--color-palette-green-500);
    --icon-success-hover-outline: var(--color-palette-white);
    --icon-success-focus-outline: var(--color-palette-green-500);
    --icon-success-active-outline: var(--color-palette-white);
    --icon-success-disabled-outline: var(--color-palette-green-200);
    --icon-success-enabled-plain: var(--color-palette-green-500);
    --icon-success-hover-plain: var(--color-palette-white);
    --icon-success-focus-plain: var(--color-palette-green-500);
    --icon-success-active-plain: var(--color-palette-white);
    --icon-success-disabled-plain: var(--color-palette-green-200);
    --icon-success-disabled-default: var(--color-palette-white);
    --icon-warning-disabled-default: var(--color-palette-white);
    --icon-warning-enabled-outline: var(--color-palette-orange-500);
    --icon-warning-hover-outline: var(--color-palette-white);
    --icon-warning-focus-outline: var(--color-palette-orange-500);
    --icon-warning-active-outline: var(--color-palette-white);
    --icon-warning-disabled-outline: var(--color-palette-orange-300);
    --icon-warning-enabled-plain: var(--color-palette-orange-500);
    --icon-warning-hover-plain: var(--color-palette-white);
    --icon-warning-focus-plain: var(--color-palette-orange-500);
    --icon-warning-active-plain: var(--color-palette-white);
    --icon-warning-disabled-plain: var(--color-palette-orange-300);
    --icon-danger-disabled-default: var(--color-palette-white);
    --icon-danger-enabled-outline: var(--color-palette-red-500);
    --icon-danger-hover-outline: var(--color-palette-white);
    --icon-danger-focus-outline: var(--color-palette-red-500);
    --icon-danger-active-outline: var(--color-palette-white);
    --icon-danger-disabled-outline: var(--color-palette-red-300);
    --icon-danger-enabled-plain: var(--color-palette-red-500);
    --icon-danger-hover-plain: var(--color-palette-white);
    --icon-danger-focus-plain: var(--color-palette-red-500);
    --icon-danger-active-plain: var(--color-palette-white);
    --icon-danger-disabled-plain: var(--color-palette-red-300);
    --border-base-loading: var(--color-palette-blue-500);
    --font-warning-default: var(--color-palette-white);
    --font-warning-enabled-outline: var(--color-palette-orange-500);
    --font-warning-hover-outline: var(--color-palette-white);
    --font-warning-focus-outline: var(--color-palette-orange-500);
    --font-warning-active-outline: var(--color-palette-white);
    --font-warning-disabled-outline: var(--color-palette-orange-300);
    --font-warning-disabled-plain: var(--color-palette-orange-300);
    --font-warning-focus-plain: var(--color-palette-orange-500);
    --font-warning-active-plain: var(--color-palette-white);
    --font-warning-enabled-plain: var(--color-palette-orange-500);
    --font-warning-hover-plain: var(--color-palette-white);
    --font-danger-default: var(--color-palette-white);
    --font-danger-enabled-outline: var(--color-palette-red-500);
    --font-danger-hover-outline: var(--color-palette-white);
    --font-danger-focus-outline: var(--color-palette-red-500);
    --font-danger-active-outline: var(--color-palette-white);
    --font-danger-disabled-outline: var(--color-palette-red-300);
    --font-danger-disabled-plain: var(--color-palette-red-300);
    --font-danger-focus-plain: var(--color-palette-red-500);
    --font-danger-hover-plain: var(--color-palette-white);
    --font-danger-active-plain: var(--color-palette-white);
    --font-danger-enabled-plain: var(--color-palette-red-500);
    --icon-base-disabled-default: var(--color-palette-white);
    --font-base-disabled-default: var(--color-palette-white);
    --font-success-enabled: var(--color-palette-green-500);
    --font-success-disabled: var(--color-palette-green-200);
    --font-neutral-enabled: var(--color-palette-neutral-700);
    --font-success-disabled-default: var(--color-palette-white);
    --font-warning-disabled-default: var(--color-palette-white);
    --font-danger-disabled-default: var(--color-palette-white);
    --background-base-hover-default-2: var(--color-palette-blue-100);
    --border-base-hover: var(--color-palette-blue-700);
    --background-neutral-plain: var(--color-palette-white);
    --font-neutral-primary: var(--color-palette-neutral-700);
    --font-neutral-tertiary: var(--color-palette-neutral-300);
    --font-danger-enabled: var(--color-palette-red-500);
    --font-danger-disabled: var(--color-palette-red-300);
    --font-neutral-secondary: var(--color-palette-neutral-400);
    --background-base-enabled-2: var(--color-palette-blue-100);
    --background-danger-enabled-2: var(--color-palette-red-200);
    --background-warning-enabled-2: var(--color-palette-orange-200);
    --background-success-default: var(--color-palette-green-100);
    --icon-base-enabled-default-2: var(--color-palette-blue-700);
    --icon-danger-enabled: var(--color-palette-red-500);
    --icon-warning-enabled: var(--color-palette-orange-700);
    --icon-success-enabled: var(--color-palette-green-700);
    --font-base-default-2: var(--color-palette-blue-700);
    --font-success-enabled: var(--color-palette-green-500);
    --background-neutral-hover-default-2: var(--color-palette-neutral-100);
    --background-base-disabled-default-2: var(--color-palette-blue-50);
    --font-base-disabled: var(--color-palette-blue-300);
    --background-success-disabled-default-2: var(--color-palette-green-50);
    --font-success-disabled: var(--color-palette-green-200);
    --background-warning-disabled-default-2: var(--color-palette-orange-50);
    --font-warning-disabled-outline-2: var(--color-palette-orange-100);
    --font-warning-disabled: var(--color-palette-orange-300);
    --background-danger-disabled: var(--color-palette-red-50);
    --font-danger-disabled-2: var(--color-palette-red-300);
    --icon-base-enabled-default: var(--color-palette-blue-500);
    --icon-success-enabled-default: var(--color-palette-green-500);
    --font-warning-enabled: var(--color-palette-orange-700);
    --icon-warning-enabled-default: var(--color-palette-orange-500);
    --icon-danger-enabled-default: var(--color-palette-red-500);
    --icon-neutral-secondary: var(--color-palette-neutral-400);
    --background-neutral-enabled-default-3: var(--color-palette-neutral-300);
    --background-base-selected: var(--color-palette-blue-50);
    --stroke-base-enabled-plain: var(--color-palette-blue-500);
    --stroke-base-hover-plain: var(--color-palette-white);
    --stroke-base-focus-plain: var(--color-palette-blue-500);
    --stroke-base-active-plain: var(--color-palette-white);
    --stroke-base-disabled-plain: var(--color-palette-blue-200);
    --stroke-base-enabled-outline: var(--color-palette-blue-500);
    --stroke-base-hover-outline: var(--color-palette-blue-700);
    --stroke-base-focus-outline: var(--color-palette-blue-500);
    --stroke-base-active-outline: var(--color-palette-white);
    --stroke-base-disabled-outline: var(--color-palette-blue-200);
    --stroke-base-default: var(--color-palette-white);
    --stroke-neutral-active-plain: var(--color-palette-white);
    --stroke-neutral-disabled-plain: var(--color-palette-neutral-100);
    --stroke-neutral-enabled-plain: var(--color-palette-neutral-700);
    --stroke-neutral-hover-plain: var(--color-palette-white);
    --stroke-neutral-focus-plain: var(--color-palette-neutral-700);
    --stroke-neutral-enabled-outline: var(--color-palette-neutral-700);
    --stroke-neutral-hover-outline: var(--color-palette-white);
    --stroke-neutral-focus-outline: var(--color-palette-neutral-700);
    --stroke-neutral-active-outline: var(--color-palette-white);
    --stroke-neutral-disabled-outline: var(--color-palette-neutral-100);
    --stroke-neutral-enabled-default: var(--color-palette-neutral-700);
    --stroke-neutral-disabled-default-2: var(--color-palette-neutral-200);
    --stroke-danger-enabled-plain: var(--color-palette-red-500);
    --stroke-danger-hover-plain: var(--color-palette-white);
    --stroke-danger-focus-plain: var(--color-palette-red-500);
    --stroke-danger-active-plain: var(--color-palette-white);
    --stroke-danger-disabled-plain: var(--color-palette-red-200);
    --stroke-danger-enabled-outline: var(--color-palette-red-500);
    --stroke-danger-hover-outline: var(--color-palette-white);
    --stroke-danger-focus-outline: var(--color-palette-red-500);
    --stroke-danger-active-outline: var(--color-palette-white);
    --stroke-danger-disabled-outline: var(--color-palette-red-200);
    --stroke-danger-enabled-default: var(--color-palette-white);
    --stroke-base-disabled-default: var(--color-palette-white);
    --stroke-danger-disabled-default: var(--color-palette-white);
    --font-neutral-disabled: var(--color-palette-neutral-300);
    --icon-neutral-tertiary: var(--color-palette-neutral-300);
    --background-neutral-disabled-default-2: var(--color-palette-neutral-50);
    --icon-neutral-hover-default: var(--color-palette-white);
    --icon-neutral-hover-outline: var(--color-palette-white);
    --icon-neutral-active-outline: var(--color-palette-white);
    --icon-neutral-hover-plain: var(--color-palette-white);
    --icon-neutral-active-plain: var(--color-palette-white);
    --icon-neutral-active-default: var(--color-palette-white);
    --border-base-enabled-outline-2: var(--color-palette-blue-200);
    --background-base-enabled-default-3: var(--color-palette-blue-50);
    --stroke-neutral-disabled-default: var(--color-palette-neutral-100);
    --background-base-disabled-default-3: var(--color-palette-blue-50);
    --stroke-base-loading-outline: var(--color-palette-blue-200);
    --background-neutral-enabled: var(--color-palette-white);
    --background-base-enabled-default-5: var(--color-palette-blue-200);
    --background-base-enabled-default-4: var(--color-palette-blue-100);
    --font-base-default-3-alt: var(--color-palette-blue-500);
    --effects-neutral: var(--color-palette-neutral-100);
    --stroke-neutral-disabled-default-3: var(--color-palette-neutral-300);
    --stroke-base-default-2: var(--color-palette-white);
    --stroke-base-hover-outline-2: var(--color-palette-white);
    --stroke-neutral-hover-default: var(--color-palette-white);
    --stroke-neutral-active-default: var(--color-palette-white);
    --icon-base-disabled: var(--color-palette-blue-300);
    --icon-base-active: var(--color-palette-blue-900);
    --icon-base-hover: var(--color-palette-blue-600);
    --icon-success-hover: var(--color-palette-green-600);
    --icon-success-active: var(--color-palette-green-700);
    --font-success-disabled-2: var(--color-palette-green-200);
    --icon-success-disabled: var(--color-palette-green-300);
    --icon-danger-disabled: var(--color-palette-red-300);
    --icon-danger-active-default: var(--color-palette-red-900);
    --icon-danger-hover-default: var(--color-palette-red-800);
    --icon-warning-disabled: var(--color-palette-orange-300);
    --font-base-disabled-2: var(--color-palette-blue-300);
    --background-purple-enabled: var(--color-palette-purple-200);
    --background-pink-enabled: var(--color-palette-pink-200);
    --background-teal-enabled: var(--color-palette-teal-200);
    --icon-purple-enabled-plain: var(--color-palette-purple-700);
    --font-purple-enabled: var(--color-palette-purple-700);
    --icon-purple-disabled-plain: var(--color-palette-purple-300);
    --background-purple-disabled: var(--color-palette-purple-50);
    --font-purple-disabled: var(--color-palette-purple-300);
    --background-pink-disabled: var(--color-palette-pink-50);
    --icon-pink-enabled-plain: var(--color-palette-pink-700);
    --icon-pink-disabled-plain: var(--color-palette-pink-300);
    --icon-teal-enabled: var(--color-palette-teal-700);
    --icon-teal-disabled: var(--color-palette-teal-300);
    --background-teal-disabled: var(--color-palette-teal-50);
    --font-pink-enabled: var(--color-palette-pink-700);
    --font-pink-disabled: var(--color-palette-pink-300);
    --font-teal-enabled: var(--color-palette-teal-700);
    --font-teal-disabled: var(--color-palette-teal-300);
    --background-neutral-enabled-default-2: var(--color-palette-neutral-50);
    --icon-neutral-quaternary: var(--color-palette-neutral-700);
    --background-base-enabled-default-2: var(--color-palette-blue-50);
    --background-success-default: var(--color-palette-green-100);
    --background-neutral-enabled-default-2: var(--color-palette-neutral-50);
    --background-success-enable-default-2: var(--color-palette-green-50);
    --background-warning-enabled-default-2: var(--color-palette-orange-50);
    --background-danger-enabled-default-2: var(--color-palette-red-50);
    --background-purple-enabled-2: var(--color-palette-purple-50);
    --background-pink-enabled-2: var(--color-palette-pink-50);
    --background-teal-enabled-2: var(--color-palette-teal-50);
    --background-neutral-disabled-default-3: var(--color-palette-neutral-100);
    --font-base-default-3: var(--color-palette-blue-500);
    --effects-opacity: rgba(0, 0, 0, 0.1);
    --icon-neutral-focus-plain: var(--color-palette-neutral-700);
    --icon-purple-focus-plain: var(--color-palette-purple-700);
    --icon-pink-focus-plain: var(--color-palette-pink-700);
    --icon-teal-focus-plain: var(--color-palette-teal-700);
    --background-purple-hover-default: var(--color-palette-purple-700);
    --background-purple-active-default: var(--color-palette-purple-800);
    --background-pink-active-default: var(--color-palette-pink-800);
    --background-pink-hover-default: var(--color-palette-pink-700);
    --background-teal-hover-default: var(--color-palette-teal-700);
    --background-teal-active-default: var(--color-palette-teal-800);
    --border-base-enabled-outline-4: var(--color-palette-blue-200);
    --effects-base-focus: var(--color-palette-blue-200);
    --effects-white: var(--color-palette-white);
    --effects-danger: var(--color-palette-red-500);
    --border-white: var(--color-palette-white);
    --border-base-active-outline: var(--color-palette-blue-800);
    --border-base-enabled-outline-3: var(--color-palette-blue-500);
    --border-neutral: var(--color-palette-white);
    --border-neutral-active-outline: var(--color-palette-neutral-400);
    --border-neutral-hover-outline: var(--color-palette-neutral-300);
    --background-neutral-enabled-default-4: var(--color-palette-neutral-600);
    --border-warning-enabled: var(--color-palette-orange-200);
    --border-danger-enabled: var(--color-palette-red-200);
    --border-success-disabled-outline: var(--color-palette-green-100);
    --border-success-outline: var(--color-palette-green-100);
    --effects-opacity-2: rgba(0, 0, 0, 0.25);
    --background-success-enable: var(--color-palette-green-50);
    --background-base-progress: var(--color-palette-blue-100);
    --background-base-enabled: var(--color-palette-blue-50);
    --background-neutral-progress: var(--color-palette-neutral-50);
    --background-warning-enabled: var(--color-palette-orange-50);
    --background-warning-progress: var(--color-palette-orange-200);
    --background-danger-enabled: var(--color-palette-red-50);
    --background-danger-progress: var(--color-palette-red-200);
    --stroke-danger: var(--color-palette-red-200);
    --border-danger-outline: var(--color-palette-red-200);
    --border-warning-outline: var(--color-palette-orange-200);
    --stroke-warning: var(--color-palette-orange-200);
    --border-neutral-outline: var(--color-palette-neutral-200);
    --border-base-outline: var(--color-palette-blue-200);
    --stroke-base: var(--color-palette-blue-200);
    --stroke-success: var(--color-palette-green-100);
    --icon-success: var(--color-palette-green-500);
    --icon-base: var(--color-palette-blue-500);
    --icon-warning: var(--color-palette-orange-500);
    --icon-danger: var(--color-palette-red-500);
    --background-neutral-focus-default-2: var(--color-palette-neutral-50);
    --background-neutral-active-default-2: var(--color-palette-neutral-300);
    --icon-base-enabled-default-alt: var(--color-palette-blue-500);
    --background-base-focus-default-2: var(--color-palette-blue-50);
    --background-base-selected-2: var(--color-palette-blue-200);
    --font-neutral-enabled: var(--color-palette-neutral-400);
    --icon-neutral-disabled: var(--color-palette-neutral-300);
    --icon-neutral-enabled: var(--color-palette-neutral-400);
    --background-base-enabled-3: var(--color-palette-blue-600);
    --background-warning-enabled-3: var(--color-palette-orange-600);
    --background-danger-enabled-3: var(--color-palette-red-600);
    --background-ghost: rgba(255, 255, 255, 0.05);
    --font-white-ghost: var(--color-palette-white);
    --stroke-white: var(--color-palette-white);
    --icon-neutral-plain-alt: var(--color-palette-neutral-700);
    --background-success-progress: var(--color-palette-green-100);
    --icon-purple-enabled: var(--color-palette-purple-700);
    --icon-purple-disabled: var(--color-palette-purple-300);
    --icon-pink-enabled: var(--color-palette-pink-700);
    --icon-pink-disabled: var(--color-palette-pink-300);
    --icon-teal-enabled-plain: var(--color-palette-teal-700);
    --icon-teal-disabled-plain: var(--color-palette-teal-300);
    --stroke-warning-enabled-outline: var(--color-palette-orange-500);
    --stroke-warning-hover-outline: var(--color-palette-white);
    --stroke-warning-focus-outline: var(--color-palette-orange-500);
    --stroke-warning-active-outline: var(--color-palette-white);
    --stroke-warning-disabled-outline: var(--color-palette-orange-300);
    --stroke-warning-enabled-plain: var(--color-palette-orange-500);
    --stroke-warning-hover-plain: var(--color-palette-white);
    --stroke-warning-focus-plain: var(--color-palette-orange-500);
    --stroke-warning-active-plain: var(--color-palette-white);
    --stroke-warning-disabled-plain: var(--color-palette-orange-300);
    --stroke-success-enabled-outline: var(--color-palette-green-500);
    --stroke-success-hover-outline: var(--color-palette-white);
    --stroke-success-focus-outline: var(--color-palette-green-500);
    --stroke-success-active-outline: var(--color-palette-white);
    --stroke-success-disabled-outline: var(--color-palette-green-200);
    --stroke-success-enabled-plain: var(--color-palette-green-500);
    --stroke-success-hover-plain: var(--color-palette-white);
    --stroke-success-focus-plain: var(--color-palette-green-500);
    --stroke-success-active-plain: var(--color-palette-white);
    --stroke-success-disabled-plain: var(--color-palette-green-200);
    --effects-base-selected: var(--color-palette-blue-500);
    --background-purple-hover: var(--color-palette-purple-700);
    --background-purple-focus: var(--color-palette-purple-500);
    --background-purple-active: var(--color-palette-purple-800);
    --border-warning-outline-2: var(--color-palette-orange-500);
    --border-base-enabled: var(--color-palette-blue-500);
    --border-warning-enabled-2: var(--color-palette-orange-500);
    --border-danger-enabled-2: var(--color-palette-red-500);
    --border-success-enabled: var(--color-palette-green-500);
    --stroke-neutral-enabled-outline-2: var(--color-palette-neutral-200);
    --background-neutral-hover-default-3: var(--color-palette-neutral-50);
    --background-neutral-selected: var(--color-palette-white);
    --border-neutral-outline-2: var(--color-palette-neutral-100);
    --border-neutral-outline-3: var(--color-palette-neutral-50);
    --stroke-neutral-2: var(--color-palette-neutral-50);
    --stroke-purple: var(--color-palette-purple-500);

    --size-0-125: 0.125rem;
    --size-0-25: 0.25rem;
    --size-0-375: 0.375rem;
    --size-0-5: 0.5rem;
    --size-0-625: 0.625rem;
    --size-0-75: 0.75rem;
    --size-0-875: 0.875rem;
    --size-1: 1rem;
    --size-1-125: 1.125rem;
    --size-1-25: 1.25rem;
    --size-1-375: 1.375rem;
    --size-1-5: 1.5rem;
    --size-1-625: 1.625rem;
    --size-1-75: 1.75rem;
    --size-1-875: 1.875rem;
    --size-2: 2rem;
    --size-2-25: 2.25rem;
    --size-2-375: 2.375rem;
    --size-2-5: 2.5rem;
    --size-2-625: 2.625rem;
    --size-2-75: 2.75rem;
    --size-2-875: 2.875rem;
    --size-3: 3rem;
    --size-3-125: 3.125rem;
    --size-3-25: 3.25rem;
    --size-3-375: 3.375rem;
    --size-3-5: 3.5rem;
    --size-3-625: 3.625rem;
    --size-3-75: 3.75rem;
    --size-3-875: 3.875rem;

    /* Spacing */
    --space-xs: var(--size-0-15);
    --space-sm: var(--size-0-25);
    --space-md: var(--size-0-35);
    --space-lg: var(--size-0-5);
    --space-xl: var(--size-0-65);
    --space-2xl: var(--size-0-75);
    --space-3xl: var(--size-0-85);
    --space-4xl: var(--size-1);
    --space-5xl: var(--size-1-15);
    --space-6xl: var(--size-1-25);
    --space-7xl: var(--size-1-5);

    /* Font sizes */
    --font-size-2xs: var(--size-0-5);
    --font-size-xs: var(--size-0-625);
    --font-size-sm: var(--size-0-75);
    --font-size-md: var(--size-0-875);
    --font-size-lg: var(--size-1);
    --font-size-xl: var(--size-1-125);
    --font-size-2xl: var(--size-1-25);
    --font-size-3xl: var(--size-1-5);
    --font-size-4xl: var(--size-1-75);
    --font-size-5xl: var(--size-2);
    --font-size-6xl: var(--size-2-5);
    --font-size-7xl: var(--size-3);

    /* Border radius */
    --radius-none: 0;
    --radius-xs: var(--size-0-15);
    --radius-sm: var(--size-0-25);
    --radius-md: var(--size-0-35);
    --radius-lg: var(--size-0-5);
    --radius-xl: var(--size-0-65);
    --radius-2xl: var(--size-0-75);
    --radius-3xl: var(--size-0-85);
    --radius-4xl: var(--size-1);
    --radius-5xl: var(--size-1-15);
    --radius-6xl: var(--size-1-25);
    --radius-7xl: var(--size-1-5);
    --radius-circle: 9999px;

    /* Shadows */
    --shadow-small: 0 1px 3px rgba(0, 0, 0, 0.12);
    --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.12);
    --shadow-large: 0 10px 20px rgba(0, 0, 0, 0.12);

    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-italic: italic;

    /* Line heights */
    --line-height-xs: var(--size-0-75);
    --line-height-sm: var(--size-1);
    --line-height-md: var(--size-1-125);
    --line-height-lg: var(--size-1-25);
    --line-height-xl: var(--size-1-375);
    --line-height-2xl: var(--size-1-5);
    --line-height-3xl: var(--size-1-625);
    --line-height-4xl: var(--size-1-75);
    --line-height-5xl: var(--size-2);
    --line-height-6xl: var(--size-2-25);
    --line-height-7xl: var(--size-2-5);
    --line-height-8xl: var(--size-3);
    --line-height-9xl: var(--size-3-5);

    /* Transitions */
    --transition-fast: 150ms ease;
    --transition-normal: 300ms ease;
    --transition-slow: 500ms ease;

    /* Font families */
    --font-family-sans: "Inter", system-ui, sans-serif;
    --font-family-mono: "Courier", monospace;

    /* Padding */
    --padding-xs: var(--size-0-125);
    --padding-sm: var(--size-0-25);
    --padding-md: var(--size-0-375);
    --padding-lg: var(--size-0-5);
    --padding-xl: var(--size-0-625);
    --padding-2xl: var(--size-0-75);
    --padding-3xl: var(--size-0-875);
    --padding-4xl: var(--size-1);
    --padding-5xl: var(--size-1-125);
    --padding-6xl: var(--size-1-25);
    --padding-7xl: var(--size-1-5);
    --padding-8xl: var(--size-1-625);
    --padding-9xl: var(--size-1-75);
    --padding-10xl: var(--size-2);
    --padding-11xl: var(--size-2-25);
    --padding-12xl: var(--size-2-5);
    --padding-13xl: var(--size-3);
    --padding-14xl: var(--size-3-25);
    --padding-15xl: var(--size-3-5);
    --padding-16xl: var(--size-4);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --warning: 36 100% 50%;
    --warning-foreground: 210 40% 98%;
    --success: 142 72% 45%;
    --success-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    /* Inverted base colors */
    --background-neutral-primary: var(--color-palette-neutral-800);
    --background-neutral-secondary: var(--color-palette-neutral-700);
    --background-neutral-quaternary: var(--color-palette-neutral-600);
    --background-neutral-tertiary: var(--color-palette-neutral-700);

    /* Adjust text colors */
    --font-neutral-primary: var(--color-palette-neutral-100);
    --font-neutral-secondary: var(--color-palette-neutral-300);
    --font-neutral-tertiary: var(--color-palette-neutral-400);
    --font-white-ghost: var(--color-palette-neutral-100);

    /* Adjust background and states */
    --background-base-enabled: var(--color-palette-blue-900);
    --background-base-hover: var(--color-palette-blue-800);
    --background-base-focus: var(--color-palette-blue-900);
    --background-base-active: var(--color-palette-blue-700);
    --background-base-disabled: var(--color-palette-blue-800);

    /* Success colors */
    --background-success-enabled: var(--color-palette-green-900);
    --background-success-hover: var(--color-palette-green-800);
    --background-success-focus: var(--color-palette-green-900);
    --background-success-active: var(--color-palette-green-700);
    --background-success-disabled: var(--color-palette-green-800);

    /* Warning colors */
    --background-warning-enabled: var(--color-palette-orange-900);
    --background-warning-hover: var(--color-palette-orange-800);
    --background-warning-focus: var(--color-palette-orange-900);
    --background-warning-active: var(--color-palette-orange-700);
    --background-warning-disabled: var(--color-palette-orange-800);

    /* Error colors */
    --background-danger-enabled: var(--color-palette-red-900);
    --background-danger-hover: var(--color-palette-red-800);
    --background-danger-focus: var(--color-palette-red-900);
    --background-danger-active: var(--color-palette-red-700);
    --background-danger-disabled: var(--color-palette-red-800);

    /* Borders and effects */
    --border-neutral: var(--color-palette-neutral-600);
    --border-base-enabled: var(--color-palette-blue-600);
    --border-base-hover: var(--color-palette-blue-500);
    --border-base-focus: var(--color-palette-blue-600);
    --border-base-active: var(--color-palette-blue-400);

    /* Icons */
    --icon-neutral-primary: var(--color-palette-neutral-100);
    --icon-neutral-secondary: var(--color-palette-neutral-300);
    --icon-neutral-tertiary: var(--color-palette-neutral-400);
    --icon-white: var(--color-palette-neutral-100);

    /* Effects and shadows */
    --effects-neutral: rgba(0, 0, 0, 0.2);
    --effects-opacity: rgba(0, 0, 0, 0.2);
    --effects-opacity-2: rgba(0, 0, 0, 0.4);

    /* Component states */
    --background-neutral-enabled-default: var(--color-palette-neutral-700);
    --background-neutral-hover-default: var(--color-palette-neutral-600);
    --background-neutral-focus-default: var(--color-palette-neutral-700);
    --background-neutral-active-default: var(--color-palette-neutral-500);
    --background-neutral-disabled-default: var(--color-palette-neutral-800);

    /* Additional colors */
    --background-purple-enabled: var(--color-palette-purple-900);
    --background-pink-enabled: var(--color-palette-pink-900);
    --background-teal-enabled: var(--color-palette-teal-900);

    /* Component backgrounds */
    --background-ghost: rgba(255, 255, 255, 0.1);
    --background-neutral-plain: var(--color-palette-neutral-800);

    /* Specific text colors */
    --font-base-default: var(--color-palette-neutral-100);
    --font-base-default-2: var(--color-palette-blue-300);
    --font-base-default-3: var(--color-palette-blue-400);

    /* Specific borders */
    --border-base-outline: var(--color-palette-blue-700);
    --border-neutral-outline: var(--color-palette-neutral-600);
    --border-success-outline: var(--color-palette-green-700);
    --border-warning-outline: var(--color-palette-orange-700);
    --border-danger-outline: var(--color-palette-red-700);

    /* Palette colors */
    --color-palette-black: var(--color-palette-white);

    /* Font Success */
    --font-success-enabled: var(--color-palette-green-300);
    --font-success-disabled: var(--color-palette-green-600);

    /* Font Neutral */
    --font-neutral-enabled: var(--color-palette-neutral-300);

    /* Background Success */
    --background-success-default: var(--color-palette-green-900);

    /* Background Neutral */
    --background-neutral-enabled-default-2: var(--color-palette-neutral-800);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
